<md-sidenav md-component-id="left" layout="column" layout-sm="column" layout-align="start start" layout-wrap>
    <md-button class="md-icon-button" ng-click="naviCtrl.openLeftMenu()" aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_arrow_back_black_24px.svg"></md-icon>
    </md-button>

    <span>
    <md-button class="md-icon-button"  aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_done_black_24px.svg"></md-icon>
    </md-button>
    Requested by Traveler   </span>
    <span>
    <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_find_replace_black_24px.svg"></md-icon>
    </md-button>
    Suggested to Traveler    </span>
    <span>
    <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_playlist_add_check_black_24px.svg"></md-icon>
    </md-button>
    Fulfilment Status    </span>

    <md-progress-linear md-mode="determinate" value="25"></md-progress-linear>
</md-sidenav>

<md-content layout="column" layout-sm="start" layout-align="start start" layout-wrap="">
    <span>
    <md-button class="md-icon-button" ng-click="naviCtrl.openLeftMenu()" aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_forward_black_24px.svg"></md-icon>
    </md-button>
 </span>
    <md-button class="md-icon-button" ng-click="naviCtrl.openLeftMenu()" aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_done_black_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="naviCtrl.openLeftMenu()" aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_find_replace_black_24px.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="naviCtrl.openLeftMenu()" aria-label="More">
        <md-icon md-svg-icon="images/icons/ic_playlist_add_check_black_24px.svg"></md-icon>
    </md-button>
</md-content>
